@font-face {
    font-family: Classica One;
    src: url(../fonts/5429205.ttf);
}
body {
    width:100%;
    color:#959595;
    background: #fff;
    font:normal 14px/22px Sans-Serif;
}
* {margin: 0; padding: 0;}

html,body {
    height: 100%;
}
.main {
    background: #FFFFFF;
    min-height: 100%;
}
/*********************************************************************************************************************/
/*#main {opacity: 0.2 !important;}*/
/*********************************************************************************************************************/
* html .main { /* хак для ie6 */
    height: 100%; /* для ие6, т.к. не понимает min-height */
}
.hHeader{
    height: 191px;
}
.header {
    position:absolute;
    width: 100%;
    background: #3A8ECC;
    color: #fff;
    height: 191px;
    top: 1px;
}
.hFooter {
    display: inline-block;
    height: 100px;
    width: 100%;
}
.footer {
    text-align: center;
    background: #3A8ECC;
    color: #fff;
    height: 100px;
    margin-top: -100px;
}
.top-nav {
    display: block;
    background: #E587E5;
    margin:0 auto;
    padding:0px 0 0;
    height:41px;
    width: 100%;
    border: 1px solid transparent;
    margin: 0 auto;
    opacity: 0.7;
}
.top-nav:hover {
    opacity: 1;
}
.icon {
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    color: red;
    background-color: #ffffff;
    margin-top: 3px;
}
#zakaz {
    padding-top: 8px;
    position: fixed;
    float: left;
    width: 120px;
}
#zakaz a {
    -webkit-transition: background 1.8s ease, color 0.5s ease;
    background: purple;
    border: 1px solid red;
}
#zakaz a:hover {
    background: yellow;
    border: 1px solid yellowgreen;
}
/*********************************************************************************************************************/
.top-nav ul {
    text-align: center;
    width: 640px;
    display: block;
}
.subnav-fixed {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
}
#zero {
    width: 25%;
    height: 150px;
    float: left;
}
#lozung {
    font-family: Classica One;
    float: left;
    width: 50%;
    height: 150px;
    color: #FFFFFF;
}
h1 {
    text-align:center;
    padding-top: 70px;
    cursor: default;
}
#logo {
    width: 25%;
    padding-top: 40px;
    width: 150px;
    height: 150px;
    float: left;
}
#content {
    float: left;
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    margin-left: 20px;
}
.text {
    text-align: justify;
    margin-left: 140px;
    float: left;
    width: 80%;
}
.item{
    background: linear-gradient(to top, #FFFFFF, #3A8ECC);
    text-align: center;
    height: 402px !important;
}
.center {text-align: center;}

.socials {
    display: inline;
    position: relative;
    right: 300px;
    padding-top: 30px;
    width: 85px;
    height: 100px;
}
.socials span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(http://asamedia.ru/images/social-icons-sprite.png);
}
.vk {
    background-position: -160px 240px;
}
.mail {
    background-position: 240px 240px;
}
.fb {
    background-position: 0 240px;
}
.odn {
    background-position: -120px 240px;
}
.tv {
    background-position: -40px 240px;
}
a:hover .vk {
    background-position: -160px 80px;
}
a:hover .mail {
    background-position: 240px 80px;
}
a:hover .fb {
    background-position: 0 80px;
}
a:hover .odn {
    background-position: -120px 80px;
}
a:hover .tv {
    background-position: -40px 80px;
}
.up {
    right: 40px;
    position: relative;
    display: inline-block;
    width: 85px;
    height: 100px;
}
.up span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(http://www.wordpress-abc.ru/wp-content/uploads/2013/04/arrows2.png);
}
.go {
    background-position: 0 0;
}
a:hover .go {
    background-position: -50px 50px;
}

@media (min-width:768px) and (max-width:991px) {
    #header{
        width: 100%;
        box-sizing: border-box;
    }
    #zero {display: none}
    #lozung {
        width: 75%;
        float: left;
        box-sizing: border-box;
    }
    #logo {
        height: 150px;
        width: 25%;
        float: left;
        box-sizing: border-box;
    }
    #logo .img-thumbnail {
        height: 150px;
    }
}

@media (max-width:767px) {
    #top-nav {
        display: none;
    }
    .navbar-tuggle-collapsed {

    }
    #header{
        width: 100%;
        box-sizing: border-box;
    }
    #zero {display: none}
    #lozung {
        padding: 0;
        width: 100%;
        height: 80px;
        float: left;
        box-sizing: border-box;
    }
    #logo {
        padding: 0;
        display: inline;
        text-align: center;
        margin: 0;
        height: 150px;
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
    #logo .img-thumbnail {
        height: 150px;
    }
    #myCarousel {
        display: none;
    }
    .header {
        height: 281px;
    }
    #lozung h1 {
        padding-top: 0;
        font-size: 30px;
        line-height: 1.5em;
    }
    .text {
        padding-right: 40px;
    }
    .hHeader {
        height: 281px;
    }
    .socials {
        right: 0;
        float: left;
        width: 100%;
    }
    .up {
        position: absolute;
        right: 0;
        float: left;
        width:25%;
    }
}



